.builder-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 20px;
}

.listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.builder-trades {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 40px;
}

.builder-trade-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-job-modal > form {
    display: grid;


}
.builder-trade {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.connections-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


/* breakpoints */

  @media screen and (max-width: 1200px) {
    .builder-trades {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
   
        gap: 10px;
        padding: 40px;
    }

    .listContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

  }
  @media screen and (max-width: 1024px) {
    .listContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .builder-trades {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 40px;
    }
    .builder-trade {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
  }
  @media screen and (max-width: 768px) {
    /* .builder-dashboard {
        display: flex;
        align-items: flex-start!important;
        justify-content: center;
        height: 90vh;
    } */
    .builder-trades {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 40px;
    }
    .listContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
   
  }

  @media screen and (max-width: 480px) {

    .builder-trades {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 40px;
    }
    .builder-trades Button {
        height: 300px;
    }

    .add-job-modal {
        width: 70%!important;
        height: 35%;

        
    }

    .add-job-modal > form {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

  }